<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<nav class="navbar navbar-default">-->
  <!--<div id="navbarCollapse" class="collapse navbar-collapse">-->
    <!--<ul class="nav navbar-nav navbar-right">-->
      <!--<li><a routerLink="./login">Login</a></li>-->
      <!--<li><a routerLink="./signup">SignUp</a></li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue">


  <logo><a class="navbar-brand" href="#">Application</a></logo>

  <!-- Collapsible content -->
  <links>
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="./login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="./signup">SignUp</a>
      </li>
    </ul>
  </links>


</mdb-navbar>
<!--/.Navbar-->
